
<ng-conatiner *ngIf="article._index === 'twitter_posts_index'">
  <div class="article-meta">
    <a target="_blank" [href]="article._source.user_url">
      <img [src]="article._source.profile_image_url">
    </a>
    <div class="info">
      <a  target="_blank" class="author" [href]="article._source.user_url">
        {{ article._source.username }}
      </a>
      <span class="date">
        {{ article._source.createdAt | date: 'longDate' }}
      </span>
    </div>
    <span class="pull-xs-right">
      <button class="btn btn-sm btn-outline-primary"><i class="ion-heart"></i> {{article._source.favourites}}</button>
      <button class="btn btn-sm btn-outline-primary"><i class="ion-chatbox"></i> {{article._source.totaltweets}}</button>
    </span>

    <ng-content></ng-content>
  </div>
</ng-conatiner>


<ng-conatiner *ngIf="article._index === 'youtube_posts_index'">
  <div class="article-meta">

    <a target="_blank" [href]="article._source.Channelurl">
      <img [src]="article._source.ChannelbrandingSettings.image.bannerExternalUrl">
    </a>
    <div class="info">
      <a  target="_blank" class="author" [href]="article._source.Channelurl">
        {{ article._source.ChannelbrandingSettings.channel.title }}
      </a>
      <span class="date">
        {{ article._source.publishedAt | date: 'longDate' }}
      </span>
    </div>
    <span class="pull-xs-right">
      <button class="btn btn-sm btn-outline-primary"><i class="ion-heart"></i> {{article._source.Videostatistics.likeCount}}</button>
      &nbsp;<button class="btn btn-sm btn-outline-info"><i class="ion-eye"></i> {{article._source.Videostatistics.viewCount}}</button>
      &nbsp;&nbsp;<button class="btn btn-sm btn-outline-info"><i class="ion-chatbox"></i> {{article._source.Videostatistics.commentCount}}</button>
    </span>


    <ng-content></ng-content>
  </div>
</ng-conatiner>

<ng-conatiner *ngIf="article._index === 'technical_articles_index'">
  <div class="article-meta">

    <a target="_blank" [href]="article._source.profileUrl">
      <img [src]="article._source.profileImage">
    </a>
    <div class="info">
      <a  target="_blank" class="author" [href]="article._source.profileUrl">
        {{ article._source.username }}
      </a>
      <span class="date">
        {{ article._source.publishedAt | date: 'longDate' }}
      </span>
    </div>
    <span class="pull-xs-right">
      <button class="btn btn-sm btn-outline-primary"><i class="ion-heart"></i> {{article._source.positiveReactionsCount}}</button>
    </span>
    <ng-content></ng-content>
  </div>
</ng-conatiner>

<ng-conatiner *ngIf="article._index === 'news_articles_index'">
  <div class="article-meta">
    <span >
      <img [src]="article._source.imageUrl ? article._source.imageUrl : imageNews">
    </span>
    <div class="info">
      <span  target="_blank" class="author">
        {{ article._source.language | titlecase }} (language)
      </span>
      <span class="date">
        {{ article._source.publishedDate | date: 'longDate' }}
      </span>
    </div>
    <ng-content></ng-content>
    <ng-content></ng-content>
  </div>
</ng-conatiner>

<ng-conatiner *ngIf="article._index === 'blog_articles_index'">
  <div class="article-meta">
    <a target="_blank" [href]="article._source.channelLink">
      <img [src]="article._source.channelImage">
    </a>
    <div class="info">
      <a target="_blank" class="author" [href]="article._source.channelLink" class="author">
        {{ article._source.author | titlecase }}
      </a>
      <span class="date">
        {{ article._source.publishedDate | date: 'longDate' }}
      </span>
    </div>
    <ng-content></ng-content>
    <ng-content></ng-content>
  </div>
</ng-conatiner>