<div class="article-preview">
  <ng-conatiner *ngIf="article._index === 'twitter_posts_index'">
    <app-article-meta [article]="article">
    </app-article-meta>
    <span class="preview-link">
      <h1 >{{ article._source.text }}</h1>
      <!-- <p >{{ article.text }}</p> -->
      <!-- <h1>{{ article.title }}</h1>
      <h1>{{ article.title }}</h1>
      <h1>{{ article.title }}</h1> -->
      <!-- <p>{{ article._source.description }}</p> -->
      <!-- <span>Read more...</span> -->
      <a target="_blank"  [href]="article._source.post_url" class="btn btn-sm btn-outline-info"><i class="ion-link"></i> Visit Post</a>
      <ul class="tag-list" style="max-width: 60% !important">
        <ng-container *ngFor="let tag of article._source.hashtags; let index = index">
        <li class="tag-default tag-pill tag-outline"  *ngIf="index < 6">
            {{ tag }}
          </li>
        </ng-container>
        <!-- <li class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article._source.hashtags">
          {{ tag }}
        </li> -->
      </ul>
    </span>
  </ng-conatiner>





  <ng-conatiner *ngIf="article._index === 'youtube_posts_index'">
    <app-article-meta [article]="article">
    </app-article-meta>
    <span  class="preview-link">
      <h1 >{{ article._source.videoTitle }}</h1>
      <!-- <p >{{ article.text }}</p> -->
      <!-- <h1>{{ article.title }}</h1>
      <h1>{{ article.title }}</h1>
      <h1>{{ article.title }}</h1> -->
      <p>{{ (article._source.Videodescription.length>150)? article._source.Videodescription.substring(0, 150) + ' ....' : article._source.Videodescription.length }}</p>
      <!-- <span>Read more...</span> -->
      <a target="_blank"  [href]="article._source.url" class="btn btn-sm btn-outline-info"><i class="ion-link"></i> Visit Post</a>
      <ul class="tag-list" style="max-width: 60% !important">
        <ng-container *ngFor="let tag of article._source.tags; let index = index">
        <li class="tag-default tag-pill tag-outline"  *ngIf="index < 6">
            {{ tag }}
          </li>
        </ng-container>
        </ul>
    </span>
  </ng-conatiner>



  
  <ng-conatiner *ngIf="article._index === 'technical_articles_index'">
    <app-article-meta [article]="article">
    </app-article-meta>

    <span class="preview-link">
      <h1 >{{ article._source.articleTitle }}</h1>
      <p>{{ article._source.articleDescription }}</p>
      <a target="_blank"  [href]="article._source.url" class="btn btn-sm btn-outline-info"><i class="ion-link"></i> Visit Article</a>
      <ul class="tag-list" style="max-width: 60% !important">
        <!-- <li class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article._source.tagList">
          {{ tag }}
        </li> -->
        <ng-container *ngFor="let tag of article._source.tagList; let index = index">
        <li class="tag-default tag-pill tag-outline"  *ngIf="index < 6">
            {{ tag }}
          </li>
        </ng-container>
      </ul>
    </span>
  </ng-conatiner>



  <ng-conatiner *ngIf="article._index === 'news_articles_index'">
    <app-article-meta [article]="article">
    </app-article-meta>
    <span class="preview-link">
      <h1 >{{ article._source.title }}</h1>
      <p>{{ article._source.description }}</p>
      <a target="_blank"  [href]="article._source.link" class="btn btn-sm btn-outline-info"><i class="ion-link"></i> Visit Article</a>
      <ul class="tag-list" style="max-width: 60% !important">
        <!-- <li class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article._source.keywords">
          {{ tag }}
        </li> -->
        <ng-container *ngFor="let tag of article._source.keywords; let index = index">
        <li class="tag-default tag-pill tag-outline"  *ngIf="index < 6">
            {{ tag }}
          </li>
        </ng-container>
      </ul>
    </span>
  </ng-conatiner>


  <ng-conatiner *ngIf="article._index === 'blog_articles_index'">
    <app-article-meta [article]="article">
    </app-article-meta>
    <span class="preview-link">
      <h1 >{{ article._source.postTitle }}</h1>
      <p [innerHTML]="article._source.postDescription"></p>
      <a target="_blank"  [href]="article._source.postLink" class="btn btn-sm btn-outline-info"><i class="ion-link"></i> Visit Article</a>
      <ul class="tag-list" style="max-width: 60% !important">
        <!-- <li class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article._source.categories">
          {{ tag }}
        </li> -->
        <ng-container *ngFor="let tag of article._source.categories; let index = index">
        <li class="tag-default tag-pill tag-outline"  *ngIf="index < 6">
            {{ tag }}
          </li>
        </ng-container>
      </ul>
    </span>
  </ng-conatiner>
</div>
