
<app-article-preview
  *ngFor="let article of results"
  [article]="article">
</app-article-preview>

<div class="app-article-preview" style="margin: 1px; margin-top: 15px;"
  [hidden]="!loading">
  <h4>Loading articles...</h4>
</div>

<div class="app-article-preview" style=" margin: 1px;   margin-top: 15px;"
  [hidden]="loading || results.length">
  <h4>No articles are here... yet.</h4>
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
